<footer class='footer dark-mode bg-secondary pt-5 pb-4 pb-lg-5'>
  <div class='container text-center pt-lg-3'>
    <div
      class='navbar-brand flex-column justify-content-center text-dark mb-1 mb-lg-3'
    >
      <img src='/img/logo_2.svg' class='me-2' width='60' alt='Motif Di Don' />
      <span class='fs-4'>Motif Di Don</span>
    </div>
    <ul class='nav justify-content-center pt-3 pb-1 pb-lg-1'>
      <li class='nav-item'><a href='/about' class='nav-link'>About</a></li>
      <li class='nav-item'><a
          href='/services'
          class='nav-link'
        >Services</a></li>
      <li class='nav-item'><a href='/works' class='nav-link'>Works</a></li>
      <li class='nav-item'><a href='/beats' class='nav-link'>Beats</a></li>
      <li class='nav-item'><a href='/merch' class='nav-link'>Merch</a></li>
      <li class='nav-item'><a href='/contact' class='nav-link'>Contact</a></li>
    </ul>
    <p class='fs-sm text-center pt-1 mt-lg-1 mb-0'>
      <span class='text-light opacity-50'>
        &copy;
        {{getFullYear}}. Made by
      </span>
      <a
        class='nav-link d-inline-block p-0'
        href='https://code.maxthestranger.com/'
        target='_blank'
        rel='noopener'
      >Max The Stranger</a>
    </p>
  </div>
</footer>