<footer class='footer dark-mode bg-secondary pt-5 pb-4 pb-lg-5'>
  <div class='container text-center pt-lg-3'>
    <div
      class='navbar-brand flex-column justify-content-center text-dark mb-1 mb-lg-3'
    >
      <img src='/img/logo_2.svg' class='me-2' width='60' alt='Motif Di Don' />
      <span class='fs-4'>Motif Di Don</span>
    </div>
    <ul class='nav justify-content-center pt-3 pb-1 pb-lg-1'>
      <li class='nav-item'><a href='/' class='nav-link'>Home</a></li>
      <li class='nav-item'><a href='/about' class='nav-link'>About</a></li>
      <li class='nav-item'><a
          href='/services'
          class='nav-link'
        >Services</a></li>
      <li class='nav-item'><a href='/iconik' class='nav-link'>Iconik Sound</a></li>
      <li class='nav-item'><a
          href='/coming_soon'
          class='nav-link'
        >Merch</a></li>
      <li class='nav-item'><a href='/contact' class='nav-link'>Contact</a></li>
    </ul>
    <p class='fs-sm text-center pt-1 mt-lg-1 mb-0'>
      <span class='text-light opacity-50'>
        &copy;
        {{getFullYear}}. Design by
      </span>
      <span class='d-inline-block p-0'>Max The Stranger.</span>
      <span class='text-light opacity-50'>All Rights Reserved.</span>
    </p>
  </div>
</footer>