<header
  class='header navbar navbar-expand-lg navbar-light position-absolute navbar-sticky'
>
  <div class='container-fluid px-5'>
    <a href='/' class='navbar-brand pe-5'>
      <img src='/img/logo_2.svg' width='47' alt='Motif Di Don' />
    </a>
    <div id='navbarNav' class='offcanvas offcanvas-end'>
      <div class='offcanvas-header border-bottom'>
        <h5 class='offcanvas-title'>Menu</h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='offcanvas'
          aria-label='Close'
        ></button>
      </div>
      <div class='offcanvas-body'>
        <ul class='navbar-nav m-auto me-sm-auto mb-2 mb-lg-0 bg-transparent'>
          <li class='nav-item'>
            <a href='/about' class='nav-link text-uppercase fw-bold'>About</a>
          </li>
          <li class='nav-item'>
            <a
              href='/services'
              class='nav-link text-uppercase fw-bold'
            >Services</a>
          </li>
          <li class='nav-item'>
            <a href='/works' class='nav-link text-uppercase fw-bold'>Works</a>
          </li>
          <li class='nav-item'>
            <a href='/beats' class='nav-link text-uppercase fw-bold'>Beats</a>
          </li>
          <li class='nav-item'>
            <a href='/merch' class='nav-link text-uppercase fw-bold'>Merch</a>
          </li>
          <li class='nav-item'>
            <a
              href='/contact'
              class='nav-link text-uppercase fw-bold'
            >Contact</a>
          </li>
        </ul>
      </div>
      <div class='offcanvas-footer border-top'>
        <a href='/hire' class='btn btn-primary w-100'>
          <i class='bx bx-highlight fs-4 lh-1 me-1'></i>
          &nbsp;Hire Me
        </a>
      </div>
    </div>
    <button
      type='button'
      class='navbar-toggler'
      data-bs-toggle='offcanvas'
      data-bs-target='#navbarNav'
      aria-controls='navbarNav'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <a
      href='/hire'
      class='btn_motif purple d-none d-lg-inline-block'
      data-content='Hire Me'
    >visit my blo</a>
  </div>
</header>