<!-- Brands (Carousel) -->
<section class='container pb-4 pb-lg-5 mb-3'>
  <div
    class='d-flex align-items-center justify-content-md-between justify-content-center mb-md-4 mb-3'
  >
    <h2 class='mb-0'>Brands we work with</h2>

    <!-- Slider prev/next buttons + Quotation mark -->
    <div class='d-md-flex d-none ms-4'>
      <button
        type='button'
        id='prev-brand'
        class='btn btn-prev btn-icon btn-sm me-2'
      >
        <i class='bx bx-chevron-left'></i>
      </button>
      <button
        type='button'
        id='next-brand'
        class='btn btn-next btn-icon btn-sm ms-2'
      >
        <i class='bx bx-chevron-right'></i>
      </button>
    </div>
  </div>
  <div
    class='swiper mx-n2'
    data-swiper-options='{
          "slidesPerView": 2,
          "navigation": {
            "prevEl": "#prev-brand",
            "nextEl": "#next-brand"
          },
          "loop": true,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "500": {
              "slidesPerView": 3,
              "spaceBetween": 8
            },
            "650": {
              "slidesPerView": 4,
              "spaceBetween": 8
            },
            "900": {
              "slidesPerView": 5,
              "spaceBetween": 8
            },
            "1100": {
              "slidesPerView": 6,
              "spaceBetween": 8
            }
          }
        }'
  >
    <div class='swiper-wrapper h-auto'>
      <!-- Item -->
      {{#each brand}}
        <div class='swiper-slide py-3'>
          <a href='{{this.href}}' class='card card-body card-hover px-2 mx-2'>
            <img
              src='/img/brands/{{this.imgUrl}}'
              class='d-block mx-auto my-2'
              width='154'
              alt='{{this.title}}'
            />
          </a>
        </div>
      {{/each}}

    </div>

    <!-- Pagination (bullets) -->
    <div
      class='swiper-pagination position-relative pt-3 mt-4 d-md-none d-flex'
    ></div>
  </div>
</section>