<!-- Hero -->
<section class='position-relative pt-md-3 pt-lg-5 mb-md-3 mb-lg-5'>
  <div class='container position-relative zindex-5 pt-5'>
    <div class='row mt-4 pt-5'>
      <div
        class='col-xl-4 col-lg-5 text-center text-lg-start pb-3 pb-md-4 pb-lg-0'
      >
        <h1 class='fs-xl text-uppercase'>Iconic Hub</h1>
        <h3 class='display-4 pb-md-2 pb-lg-4 f_mosk'>
          More. Meaningful.
          <span class='outline_fun'>Music</span>
          &amp;
          <span class='outline_fun'>Brand</span>
        </h3>
        <p class='fs-lg position-relative text_motif'>
          Learn more about
          <a href='/hire' class='link_motif'>Audio Branding</a>
        </p>
      </div>
      <div
        class='col-xl-5 col-lg-6 offset-xl-1 position-relative zindex-5 mb-5 mb-lg-0'
      >
        <div
          class='card darkness-bg border-0 shadow-primary py-2 p-sm-4 p-lg-5'
          data-jarallax-element='40'
          data-disable-parallax-down='lg'
        >
          <div class='card-body p-lg-3'>
            <h2 class='text-light pb-1 pb-md-3'>Motif Di Don</h2>
            <div class='fs-lg text-light pb-2 pb-md-0'>
              <blockquote>
                <q class='text_motif'>
                  He is, arguably, one of the best beatmakers in the country
                  right now and this is evident by how prolific he has produced
                  and mastered songs.
                  <span class='d-block py-2'></span>
                  These days, almost every song begins with the words, “Motif Di
                  Don”. The beats don believes he is here to change the whole
                  landscape and not compete with others since for him, it's a
                  passion he had since he was young.
                </q>

                <cite class='motif_cite'>~ The Standard Media Group</cite>
              </blockquote>

              <a href='/about' class='btn btn-light btn-lg mt-2'>
                More Info
                <i class='bx bx-right-arrow-alt lh-1 fs-4 ms-2 me-n2'></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='d-none d-lg-block' style='margin-top: -165px'></div>
    <div class='row align-items-end'>
      <div class='col-lg-6 d-none d-lg-block'>
        <img
          src='/img/landing/medical/hero_img_2.png'
          class='rounded-3'
          alt='Image'
          data-jarallax-element='-40'
          data-disable-parallax-down='md'
        />
      </div>
      <div
        class='col-lg-6 d-flex flex-column flex-md-row align-items-center justify-content-between'
      >
        <div class='d-flex align-items-center ps-xl-5 mb-4 mb-md-0'>
          <div
            class='btn btn-icon btn-secondary btn-lg pe-none rounded d-lg-none d-xl-inline-flex'
          >
            <i class='bx bx-time text-primary fs-3'></i>
          </div>
          <ul class='list-unstyled ps-3 ps-lg-0 ps-xl-3 mb-0'>
            <li>
              <strong class='text-dark'>Mon – Fri:</strong>
              9:00 am – 22:00 pm
            </li>
            <li>
              <strong class='text-dark'>Sat – Sun:</strong>
              9:00 am – 20:00 pm
            </li>
          </ul>
        </div>
        <a
          href='/studio'
          class='btn_motif orange shadow-primary'
          data-content='Make an appointment'
        >Make an appointment</a>
      </div>
    </div>
  </div>
  <div
    class='d-none d-lg-block position-absolute top-0 end-0 w-50 d-flex flex-column ps-3'
    style='height: calc(100% - 108px)'
  >
    <div
      class='w-100 h-100 overflow-hidden bg-position-center bg-repeat-0 bg-size-cover'
      style='
              background-image: url(/img/landing/medical/hero_img_1.png);
              border-bottom-left-radius: 0.5rem;
            '
    ></div>
  </div>
</section>