<!-- Social networks (Carousel on narrow screens) -->
<section class='container text-center py-5 my-2 my-md-4 my-lg-5'>
  <h2 class='h1 mb-4'>Let's Connect</h2>
  <p class='fs-lg text-muted pb-2 mb-5'>
    Follow me and keep up to date with the freshest music & offers!
  </p>
  <div
    class='swiper'
    data-swiper-options='{
          "slidesPerView": 2,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "500": {
              "slidesPerView": 3
            },
            "650": {
              "slidesPerView": 4
            },
            "900": {
              "slidesPerView": 5
            },
            "1100": {
              "slidesPerView": 6
            }
          }
        }'
  >
    <div class='swiper-wrapper h-auto'>
      <!-- Item -->
      {{#each social}}
        <div class='swiper-slide'>
          <div class='position-relative text-center border-end mx-n1'>
            <a
              href='{{this.href}}'
              class='btn btn-icon btn-secondary btn-primary btn-lg stretched-link'
              target='_blank'
            >
              <i class='{{this.icon}}'></i>
            </a>
            <div class='pt-4'>
              <h6 class='mb-1'>{{this.title}}</h6>
              <p class='fs-sm text-muted mb-0'>{{this.username}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

    <!-- Pagination (bullets) -->
    <div class='swiper-pagination position-relative bottom-0 pt-3 mt-4'></div>
  </div>
</section>