<section
  class='container d-flex flex-column h-100 align-items-center position-relative zindex-5 pt-5'
>
  <div class='text-center pt-5 pb-3 mt-auto'>

    <!-- Parallax gfx (Light version) -->
    <div class='parallax mx-auto d-dark-mode-none' style='max-width: 574px;'>
      <div class='parallax-layer' data-depth='-0.15'>
        <img src='/img/404/light/layer01.png' alt='Layer' />
      </div>
      <div class='parallax-layer' data-depth='0.12'>
        <img src='/img/404/light/layer02.png' alt='Layer' />
      </div>
      <div class='parallax-layer zindex-5' data-depth='-0.12'>
        <img src='/img/404/light/layer03.png' alt='Layer' />
      </div>
    </div>

    <!-- Parallax gfx (Dark version) -->
    <div
      class='parallax mx-auto d-none d-dark-mode-block'
      style='max-width: 574px;'
    >
      <div class='parallax-layer' data-depth='-0.15'>
        <img src='/img/404/dark/layer01.png' alt='Layer' />
      </div>
      <div class='parallax-layer' data-depth='0.12'>
        <img src='/img/404/dark/layer02.png' alt='Layer' />
      </div>
      <div class='parallax-layer zindex-5' data-depth='-0.12'>
        <img src='/img/404/dark/layer03.png' alt='Layer' />
      </div>
    </div>

  </div>

  <div class='text-center py-lg-5 py-4 mt-auto'>

  </div>
</section>