<section
  class='container d-flex flex-column h-100 align-items-center position-relative zindex-5 pt-5'
>
  <div class='text-center pt-5 pb-3 mt-auto'>

    <h1>Coming Soon...</h1>

  </div>

  <div class='text-center py-lg-5 py-4 mt-auto'>

  </div>
</section>