<!-- Page content -->
<section class='container pb-5 mb-lg-4 mb-xl-5'>
  <!-- Breadcrumb -->
  <nav class='pt-4 mt-lg-3' aria-label='breadcrumb'>
    <ol class='breadcrumb mb-0'>
      <li class='breadcrumb-item'>
        <a href='index.html'><i class='bx bx-home-alt fs-lg me-1'></i>Home</a>
      </li>
      <li class='breadcrumb-item active' aria-current='page'>
        Contacts
      </li>
    </ol>
  </nav>

  <div class='row pt-4 mt-lg-3 pb-5 mb-lg-4 mb-xl-5'>
    <!-- Page title -->
    <div class='col-md-4'>
      <h1 class='mb-md-4'>Get in Touch</h1>
      <p class='fs-lg pb-2'>
        Have a project in mind? To request a quote contact us directly or fill
        out the form and let us know how we can help.
      </p>
    </div>

    <!-- Contact form -->
    <form
      class='col-xl-7 col-md-8 offset-xl-1 needs-validation'
      action='https://formspree.io/f/mgedyaok'
      method='post'
      novalidate
    >
      <div class='row'>
        <div class='col-sm-6 mb-4'>
          <label for='name' class='form-label fs-base'>Name</label>
          <input
            type='text'
            id='name'
            name='name'
            class='form-control form-control-lg'
            required
          />
          <div class='invalid-feedback'>Please enter your name!</div>
        </div>
        <div class='col-sm-6 mb-4'>
          <label for='email' class='form-label fs-base'>Email</label>
          <input
            type='email'
            id='email'
            name='email'
            class='form-control form-control-lg'
            required
          />
          <div class='invalid-feedback'>
            Please provide a valid email address!
          </div>
        </div>
        <div class='col-sm-6 mb-4'>
          <label for='phone' class='form-label fs-base'>Phone</label>
          <input
            type='text'
            id='phone'
            name='phone'
            class='form-control form-control-lg'
            data-format='custom'
            data-delimiter='-'
            data-blocks='2 3 4'
            data-numeral='9'
            placeholder='00-000-0000'
          />
        </div>
        <div class='col-sm-6 mb-4'>
          <label for='subject' class='form-label fs-base'>Subject</label>
          <select
            id='subject'
            class='form-select form-select-lg'
            name='service'
            required
          >
            <option value='' selected disabled>
              Select a Service
            </option>
            <option value='Mixing and Mastering'>
              Mixing &amp; Mastering
            </option>
            <option value='Vocal Recording'>
              Vocal Recording
            </option>
            <option value='Jingles and Audio Branding'>
              Jingles &amp; Audio Branding
            </option>
            <option value='Instrumental Production'>
              Instrumental Production
            </option>
            <option value='Video and Photography'>
              Video &amp; Photography
            </option>
            <option value='Podcasts and Voice Overs'>
              Podcast &amp; V.O
            </option>
          </select>
          <div class='invalid-feedback'>Please choose the subject!</div>
        </div>
        <div class='col-12 mb-4'>
          <label for='message' class='form-label fs-base'>Message</label>
          <textarea
            id='message'
            name='message'
            class='form-control form-control-lg'
            rows='4'
            required
          ></textarea>
          <div class='invalid-feedback'>Please write your message!</div>
        </div>
      </div>
      <div class='form-check mb-4'>
        <input
          type='checkbox'
          id='terms'
          class='form-check-input'
          name='agree'
          required
        />
        <label for='terms' class='form-check-label fs-base'>I agree to the
          <a href='#'>Terms &amp; Conditions</a></label>
      </div>
      <button type='submit' class='btn btn-primary btn-lg shadow-primary'>
        Submit form
      </button>
    </form>
  </div>
  <hr class='d-md-none mt-n2 mb-2' />
  <div class='row py-3'>
    <!-- Contact info -->
    <div class='col-md-4 pt-1 mb-4 mb-md-0'>
      <h3 class='pb-2 pb-md-3 pb-lg-4'>Contact Info</h3>
      <ul class='list-unstyled pb-1 pb-lg-4'>
        <li class='mb-3 mb-lg-4'>
          <span class='d-block fs-sm text-muted'>Email</span>
          <a
            href='mailto:mkobeer@gmail.com'
            class='nav-link d-inline-block fs-lg p-0'
          >mkobeer@gmail.com</a>
        </li>
        <li class='mb-3 mb-lg-4'>
          <span class='d-block fs-sm text-muted'>Phone</span>
          <a
            href='tel:+254726555207'
            class='nav-link d-inline-block fs-lg p-0'
          >+254 (726) 555 - 207</a>
        </li>
        <li class='mb-3 mb-lg-4'>
          <span class='d-block fs-sm text-muted'>Headquarters</span>
          <div class='text-nav fs-lg fw-medium'>
            Somewhere. Kilimani, Nairobi
          </div>
          <a href='#' class='fs-sm'>Get directions</a>
        </li>
      </ul>
      <div class='d-flex'>
        <a
          href='https://www.facebook.com/motifbeatsdon'
          target='_blank'
          rel='noopener noreferrer'
          class='btn btn-icon btn-outline-secondary btn-facebook mb-3 me-3'
        >
          <i class='bx bxl-facebook'></i>
        </a>
        <a
          href='https://twitter.com/MotiffDiDon'
          target='_blank'
          rel='noopener noreferrer'
          class='btn btn-icon btn-outline-secondary btn-twitter mb-3 me-3'
        >
          <i class='bx bxl-twitter'></i>
        </a>
        <a
          href='https://www.youtube.com/channel/UCcfEJAUkDxomVMzNHCS09ow'
          target='_blank'
          rel='noopener noreferrer'
          class='btn btn-icon btn-outline-secondary btn-linkedin mb-3 me-3'
        >
          <i class='bx bxl-youtube'></i>
        </a>
        <a
          href='https://www.instagram.com/motifdidon'
          target='_blank'
          rel='noopener noreferrer'
          class='btn btn-icon btn-outline-secondary btn-instagram mb-3 me-3'
        >
          <i class='bx bxl-instagram'></i>
        </a>
      </div>
    </div>

    <!-- Map -->
    <div class='col-xl-7 col-md-8 offset-xl-1'>
      <div class='shadow-sm rounded-3 overflow-hidden'>
        <iframe
          class='d-block'
          src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.173396005066!2d36.77865!3d-1.298752!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4a4fd87e6260dbe!2sAdams%20Arcade!5e0!3m2!1sen!2sus!4v1646128778316!5m2!1sen!2sus'
          height='460'
          style='border: 0'
          allowfullscreen=''
          loading='lazy'
        ></iframe>
      </div>
    </div>
  </div>
</section>