<!-- Page content -->
<section class='container pb-5 mb-lg-4 mb-xl-5'>
  <!-- Breadcrumb -->
  <nav class='pt-4 mt-lg-3' aria-label='breadcrumb'>
    <ol class='breadcrumb mb-0'>
      <li class='breadcrumb-item'>
        <a href='index.html'><i class='bx bx-home-alt fs-lg me-1'></i>Home</a>
      </li>
      <li class='breadcrumb-item active' aria-current='page'>
        Contacts v.1
      </li>
    </ol>
  </nav>

  <div class='row pt-4 mt-lg-3 pb-5 mb-lg-4 mb-xl-5'>
    <!-- Page title -->
    <div class='col-md-4'>
      <h1 class='mb-md-4'>Get in Touch</h1>
      <p class='fs-lg pb-2'>
        Have a project in mind? To request a quote contact us directly or fill
        out the form and let us know how we can help.
      </p>
    </div>

    <!-- Contact form -->
    <form class='col-xl-7 col-md-8 offset-xl-1 needs-validation' novalidate>
      <div class='row'>
        <div class='col-sm-6 mb-4'>
          <label for='name' class='form-label fs-base'>Name</label>
          <input
            type='text'
            id='name'
            class='form-control form-control-lg'
            required
          />
          <div class='invalid-feedback'>Please enter your name!</div>
        </div>
        <div class='col-sm-6 mb-4'>
          <label for='email' class='form-label fs-base'>Email</label>
          <input
            type='email'
            id='email'
            class='form-control form-control-lg'
            required
          />
          <div class='invalid-feedback'>
            Please provide a valid email address!
          </div>
        </div>
        <div class='col-sm-6 mb-4'>
          <label for='phone' class='form-label fs-base'>Phone</label>
          <input
            type='text'
            id='phone'
            class='form-control form-control-lg'
            data-format='custom'
            data-delimiter='-'
            data-blocks='2 3 4'
            data-numeral='9'
            placeholder='00-000-0000'
          />
        </div>
        <div class='col-sm-6 mb-4'>
          <label for='subject' class='form-label fs-base'>Subject</label>
          <select id='subject' class='form-select form-select-lg' required>
            <option value='' selected disabled>Choose subject</option>
            <option value='Website issues'>Website issues</option>
            <option value='Support query'>Support query</option>
            <option value='Feature request'>Feature request</option>
          </select>
          <div class='invalid-feedback'>Please choose the subject!</div>
        </div>
        <div class='col-12 mb-4'>
          <label for='message' class='form-label fs-base'>Message</label>
          <textarea
            id='message'
            class='form-control form-control-lg'
            rows='4'
            required
          ></textarea>
          <div class='invalid-feedback'>Please write your message!</div>
        </div>
      </div>
      <div class='form-check mb-4'>
        <input type='checkbox' id='terms' class='form-check-input' required />
        <label for='terms' class='form-check-label fs-base'>I agree to the
          <a href='#'>Terms &amp; Conditions</a></label>
      </div>
      <button type='submit' class='btn btn-primary btn-lg shadow-primary'>
        Submit form
      </button>
    </form>
  </div>
  <hr class='d-md-none mt-n2 mb-2' />
  <div class='row py-3'>
    <!-- Contact info -->
    <div class='col-md-4 pt-1 mb-4 mb-md-0'>
      <h3 class='pb-2 pb-md-3 pb-lg-4'>Contact Info</h3>
      <ul class='list-unstyled pb-1 pb-lg-4'>
        <li class='mb-3 mb-lg-4'>
          <span class='d-block fs-sm text-muted'>Email</span>
          <a
            href='mailto:silicon@example.com'
            class='nav-link d-inline-block fs-lg p-0'
          >silicon@example.com</a>
        </li>
        <li class='mb-3 mb-lg-4'>
          <span class='d-block fs-sm text-muted'>Phone</span>
          <a
            href='tel:4065550120'
            class='nav-link d-inline-block fs-lg p-0'
          >(406) 555-0120</a>
        </li>
        <li class='mb-3 mb-lg-4'>
          <span class='d-block fs-sm text-muted'>Headquarters</span>
          <div class='text-nav fs-lg fw-medium'>
            6391 Elgin St. Celina, Delaware 10299
          </div>
          <a href='#' class='fs-sm'>Get directions</a>
        </li>
      </ul>
      <div class='d-flex'>
        <a
          href='#'
          class='btn btn-icon btn-outline-secondary btn-facebook mb-3 me-3'
        >
          <i class='bx bxl-facebook'></i>
        </a>
        <a
          href='#'
          class='btn btn-icon btn-outline-secondary btn-twitter mb-3 me-3'
        >
          <i class='bx bxl-twitter'></i>
        </a>
        <a
          href='#'
          class='btn btn-icon btn-outline-secondary btn-linkedin mb-3 me-3'
        >
          <i class='bx bxl-linkedin'></i>
        </a>
        <a
          href='#'
          class='btn btn-icon btn-outline-secondary btn-instagram mb-3 me-3'
        >
          <i class='bx bxl-instagram'></i>
        </a>
      </div>
    </div>

    <!-- Map -->
    <div class='col-xl-7 col-md-8 offset-xl-1'>
      <div class='shadow-sm rounded-3 overflow-hidden'>
        <iframe
          class='d-block'
          src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48698.87774279696!2d-83.10562475806614!3d40.28286124908331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8838e5684a67f065%3A0xe0b86471f0b66d37!2sDelaware%2C%20OH%2043015%2C%20USA!5e0!3m2!1sen!2sua!4v1636376974328!5m2!1sen!2sua'
          height='460'
          style='border: 0'
          allowfullscreen=''
          loading='lazy'
        ></iframe>
      </div>
    </div>
  </div>
</section>