<!-- Breadcrumb -->
<nav class='container py-4 my-lg-3' aria-label='breadcrumb'>
  <ol class='breadcrumb mb-0'>
    <li class='breadcrumb-item'>
      <a href='/'><i class='bx bx-home-alt fs-lg me-1'></i>Home</a>
    </li>
    <li class='breadcrumb-item active' aria-current='page'>Portfolio</li>
  </ol>
</nav>

<!-- Page title + filters -->
<section
  class='container d-sm-flex align-items-center justify-content-start pb-4 mb-2 mb-lg-3'
>
  <h1 class='mb-sm-0 me-sm-3'>Portfolio</h1>

</section>

<!-- Portfolio list -->
<section class='container pb-2 pb-lg-3'>

  <!-- Item -->
  <div class='row pb-5 mb-md-4 mb-lg-5'>
    <div class='col-md-6 pb-1 mb-3 pb-md-0 mb-md-0'>
      <a
        href='https://www.youtube.com/watch?v=fa2xzMQXbVo'
        target='_blank'
        rel='noopener noreferrer'
      >
        <img
          src='/img/projects/rayvanny.jpg'
          class='rounded-3'
          width='600'
          alt='Image'
        />
      </a>
    </div>
    <div class='col-md-6'>
      <div class='ps-md-4 ms-md-2'>
        <div class='fs-sm text-muted mb-1'>Feb 22, 2022</div>
        <h2 class='h3'>Rayvanny Ft Nadia Mukami - Fall In Love</h2>
        <a
          href='#'
          class='d-table badge bg-faded-primary text-primary fs-sm mb-3'
        >Tanzania ft Kenya</a>
        <p class='d-md-none d-lg-block pb-3 mb-2 mb-md-3'>Rayvanny came to the
          studio and natoque purus ipsum nunc, velit cras tellus. Maecenas
          viverra pellentesque at ultrices purus vitae quis erat volutpat.
          Turpis auctor neque bibendum id pellentesque ut egestas. Donec ut
          faucibus nisl nec at purus. Cursus vel gravida gravida purus varius
          feugiat.Semper mauris id adipiscing est. Nam leo rutrum gravida
          curabitur at vel risus.</p>
        <a
          href='https://www.youtube.com/watch?v=fa2xzMQXbVo'
          target='_blank'
          rel='noopener noreferrer'
          class='btn btn-outline-danger'
        >Youtube <i class='bx bx-link-external ms-2'></i></a>
      </div>
    </div>
  </div>

  <!-- Item -->
  <div class='row pb-5 mb-md-4 mb-lg-5'>
    <div class='col-md-6 order-md-2 pb-1 mb-3 pb-md-0 mb-md-0'>
      <a
        href='https://www.youtube.com/watch?v=EBFXrZY3dL4'
        class='float-md-end'
      >
        <img
          src='/img/projects/kali.jpg'
          class='rounded-3'
          width='600'
          alt='Image'
        />
      </a>
    </div>
    <div class='col-md-6 order-md-1 pt-md-4 pt-lg-5'>
      <div class='pe-md-4 me-md-2'>
        <div class='fs-sm text-muted mb-1'>Nov 9, 2021</div>
        <h2 class='h3'>Khaligraph Jones x Sarkodie - Wavy</h2>
        <a
          href='https://www.youtube.com/watch?v=fa2xzMQXbVo'
          class='d-table badge bg-faded-primary text-primary fs-sm mb-3'
        >Kenya ft Ghana</a>
        <p class='d-md-none d-lg-block pb-3 mb-2 mb-md-3'>Malesuada eu cursus
          natoque purus ipsum nunc, velit cras tellus. Maecenas viverra
          pellentesque at ultrices purus vitae quis erat volutpat. Turpis auctor
          neque bibendum id pellentesque ut egestas. Donec ut faucibus nisl nec
          at purus. Cursus vel gravida gravida purus varius feugiat.Semper
          mauris id adipiscing est. Nam leo rutrum gravida curabitur at vel
          risus.</p>
        <a
          href='https://www.youtube.com/watch?v=fa2xzMQXbVo'
          target='_blank'
          rel='noopener noreferrer'
          class='btn btn-outline-danger'
        >Youtube <i class='bx bx-link-external ms-2'></i></a>
      </div>
    </div>
  </div>
</section>