<!-- Gallery -->
<section class='container pb-5 mb-2 mb-md-4 mb-lg-5'>
  <h2 class='h1 pb-3'>We are Powerful</h2>
  <div class='gallery row g-4 pb-3 mb-3' data-thumbnails='true'>
    <div class='col-md-5'>
      <a
        href='https://www.youtube.com/watch?v=zPo5ZaH6sW8'
        class='gallery-item video-item is-hovered rounded-3'
        data-sub-html='<h6 class="fs-sm text-light">Silicon Inc. Showreel by Marvin McKinney</h6>'
      >
        <img src='/img/about/gallery/01.jpg' alt='Gallery thumbnail' />
        <div class='gallery-item-caption p-4'>
          <h4 class='text-light mb-1'>Silicon Inc.</h4>
          <p class='mb-0'>Showreel by Marvin McKinney</p>
        </div>
      </a>
    </div>
    <div class='col-md-3 col-sm-5'>
      <a
        href='/img/about/gallery/02.jpg'
        class='gallery-item rounded-3 mb-4'
        data-sub-html='<h6 class="fs-sm text-light">Program for apprentices</h6>'
      >
        <img src='/img/about/gallery/02.jpg' alt='Gallery thumbnail' />
        <div class='gallery-item-caption fs-sm fw-medium'>
          Program for apprentices
        </div>
      </a>
      <a
        href='/img/about/gallery/03.jpg'
        class='gallery-item rounded-3'
        data-sub-html='<h6 class="fs-sm text-light">Modern bright offices</h6>'
      >
        <img src='/img/about/gallery/03.jpg' alt='Gallery thumbnail' />
        <div class='gallery-item-caption fs-sm fw-medium'>
          Modern bright offices
        </div>
      </a>
    </div>
    <div class='col-md-4 col-sm-7'>
      <a
        href='/img/about/gallery/04.jpg'
        class='gallery-item rounded-3 mb-4'
        data-sub-html='<h6 class="fs-sm text-light">Friendly professional team</h6>'
      >
        <img src='/img/about/gallery/04.jpg' alt='Gallery thumbnail' />
        <div class='gallery-item-caption fs-sm fw-medium'>
          Friendly professional team
        </div>
      </a>
      <a
        href='/img/about/gallery/05.jpg'
        class='gallery-item rounded-3'
        data-sub-html='<h6 class="fs-sm text-light">Efficient project management</h6>'
      >
        <img src='/img/about/gallery/05.jpg' alt='Gallery thumbnail' />
        <div class='gallery-item-caption fs-sm fw-medium'>
          Efficient project management
        </div>
      </a>
    </div>
  </div>
  <a
    href='https://www.instagram.com/motifdidon'
    target='_blank'
    rel='noopener noreferrer'
    class='btn btn-outline-primary btn-lg w-100'
  >
    <i class='bx bx-images fs-4 lh-1 me-2'></i>
    See all Gallery
  </a>
</section>