<!-- Stats -->
<section class='container pb-5 mb-2 mb-md-4 mb-lg-5 bg-faded-dark'>
  <div class='row row-cols-1 row-cols-md-3 g-4'>
    <!-- Item -->
    <div class='col'>
      <div class='d-flex align-items-center'>
        <div class='bg-secondary rounded-circle flex-shrink-0 p-4'>
          <img src='/img/about/icons/headset.svg' alt='Icon' />
        </div>
        <div class='ps-3 ps-xl-4'>
          <h3 class='h1 mb-2'>50.4M</h3>
          <p class='mb-0'>
            <span class='fw-semibold'>Streaming</span>
            Plays
          </p>
        </div>
      </div>
    </div>

    <!-- Item -->
    <div class='col'>
      <div class='d-flex align-items-center'>
        <div class='bg-secondary rounded-circle flex-shrink-0 p-4'>
          <img src='/img/about/icons/chat.svg' alt='Icon' />
        </div>
        <div class='ps-3 ps-xl-4'>
          <h3 class='h1 mb-2'>40</h3>
          <p class='mb-0'>
            <span class='fw-semibold'>International</span>
            Artists
          </p>
        </div>
      </div>
    </div>

    <!-- Item -->
    <div class='col'>
      <div class='d-flex align-items-center'>
        <div class='bg-secondary rounded-circle flex-shrink-0 p-4'>
          <img src='/img/about/icons/add-group.svg' alt='Icon' />
        </div>
        <div class='ps-3 ps-xl-4'>
          <h3 class='h1 mb-2'>50</h3>
          <p class='mb-0'>
            <span class='fw-semibold'>Hit</span>
            Records
          </p>
        </div>
      </div>
    </div>
  </div>
</section>