<!-- Gallery -->
<section class='container pb-5 mb-2 mb-md-4 mb-lg-5'>
  <h2 class='h1 pb-3'>Join the Movement on Insta</h2>
  <div class='gallery row g-4 pb-3 mb-3' data-thumbnails='true'>
    <div class='col-md-5'>
      <a
        href='/img/gallery/01.jpg'
        class='gallery-item rounded-3 is-hovered'
        data-sub-html='<h6 class="fs-sm text-light">MOtiff & Tanasha Dona</h6>'
      >
        <img src='/img/gallery/01.jpg' alt='Gallery thumbnail' />
        <div class='gallery-item-caption fs-sm fw-medium'>
          Tanasha Dona &amp; Motiff
        </div>
      </a>
    </div>
    <div class='col-md-3 col-sm-5'>
      <a
        href='/img/gallery/02.jpg'
        class='gallery-item rounded-3 mb-4 is-hovered'
        data-sub-html='<h6 class="fs-sm text-light">Program for apprentices</h6>'
      >
        <img src='/img/gallery/02.jpg' alt='Gallery thumbnail' />
        <div class='gallery-item-caption fs-sm fw-medium'>
          In the Studio
        </div>
      </a>
      <a
        href='/img/gallery/03.jpg'
        class='gallery-item rounded-3 is-hovered'
        data-sub-html='<h6 class="fs-sm text-light">Modern bright offices</h6>'
      >
        <img src='/img/gallery/03.jpg' alt='Gallery thumbnail' />
        <div class='gallery-item-caption fs-sm fw-medium'>
          Kaligraph Jones's Video Shoot
        </div>
      </a>
    </div>
    <div class='col-md-4 col-sm-7'>
      <a
        href='/img/gallery/04.jpg'
        class='gallery-item rounded-3 mb-4 is-hovered'
        data-sub-html='<h6 class="fs-sm text-light">Friendly professional team</h6>'
      >
        <img src='/img/gallery/04.jpg' alt='Gallery thumbnail' />
        <div class='gallery-item-caption fs-sm fw-medium'>
          Motiff, Reekado Banks &amp; Tanasha Dona
        </div>
      </a>
      <a
        href='/img/gallery/05.jpg'
        class='gallery-item rounded-3 is-hovered'
        data-sub-html='<h6 class="fs-sm text-light">Efficient project management</h6>'
      >
        <img src='/img/gallery/05.jpg' alt='Gallery thumbnail' />
        <div class='gallery-item-caption fs-sm fw-medium'>
          Gospel on the Track
        </div>
      </a>
    </div>
  </div>
  <a
    href='https://www.instagram.com/motifdidon'
    target='_blank'
    rel='noopener noreferrer'
    class='btn btn-outline-primary btn-lg w-100'
  >
    <i class='bx bx-images fs-4 lh-1 me-2'></i>
    See all Gallery
  </a>
</section>