<!-- About company -->
<section class='pb-5 mb-2 mb-md-4 mb-lg-5'>
  <div class='jarallax' data-jarallax data-speed='0.4'>
    <div
      class='jarallax-img'
      style='background-image: url(/img/bgs/about.png)'
    ></div>
    <div class='d-none d-xxl-block' style='height: 700px'></div>
    <div class='d-none d-xl-block d-xxl-none' style='height: 550px'></div>
    <div class='d-none d-lg-block d-xl-none' style='height: 400px'></div>
    <div class='d-none d-md-block d-lg-none' style='height: 300px'></div>
    <div class='d-md-none' style='height: 250px'></div>
  </div>
  <div class='container position-relative zindex-3' style='margin-top: -4.5rem'>
    <div class='bg-light position-relative border rounded-3 shadow-sm py-5'>
      <span
        class='position-absolute top-0 start-0 w-100 h-100 rounded-3 bg-faded-light'
      ></span>
      <div
        class='row position-relative justify-content-center zindex-3 py-lg-4'
      >
        <div class='col-11 col-md-10 col-lg-8 text-center'>
          <h2 class='h1 pb-3'>
            <img
              src='/img/iconic_logo.svg'
              alt='iconic Sound logo'
              class='img-fluid'
            />
          </h2>
          <p class='fs-xl pb-3 mb-4'>
            Iconic Hub is a , vulputate felis, pharetra, leo diam est morbi.
            Gravida porta nunc vitae tempor sit proin lobortis mauris nulla.
            Eget felis nec ultrices quis viverra aliquam aliquam. Eget
            vestibulum, orci, pulvinar diam. Ultrices tortor cursus porta magna
            sit blandit dolor, nulla a. Sit diam non donec et, in interdum.
          </p>
          <a
            href='/hire'
            class='btn_motif orange'
            data-content='Work with us'
          >Work with us</a>
        </div>
      </div>
    </div>
  </div>
</section>