<!-- Breadcrumb -->
<nav class='container pt-4 mt-lg-3' aria-label='breadcrumb'>
  <ol class='breadcrumb mb-0'>
    <li class='breadcrumb-item'>
      <a href='/'><i class='bx bx-home-alt fs-lg me-1'></i>Home</a>
    </li>
    <li class='breadcrumb-item active' aria-current='page'>About</li>
  </ol>
</nav>

<!-- Intro -->
<section class='container py-5 mt-n3 mt-sm-0'>
  <div class='row pt-lg-4 pb-lg-3 pb-xl-5'>
    <div class='col-md-6'>
      <h4 class='text-primary pb-1 mb-2'>about</h4>
      <h1 class='display-1'>Motif Di Don</h1>
    </div>
    <div class='col-md-6 col-xl-5'>
      <p class='fs-xl mb-1 mb-md-3'>
        Motif Di don is one of Kenya’s most creative and exciting producers with
        a wide and extensive music catalogue, having worked with top continental
        music artists like
        <a
          href='https://www.instagram.com/mreazi/'
          target='_blank'
          rel='noopener noreferrer'
        >Mr.Eazi</a>,
        <a
          href='https://www.instagram.com/reekadobanks/'
          target='_blank'
          rel='noopener noreferrer'
        >Reeekadoh Banks</a>,
        <a
          href='https://www.instagram.com/khaligraph_jones/'
          target='_blank'
          rel='noopener noreferrer'
        >Khalighraph Jones</a>,
        <a
          href='https://www.instagram.com/rayvanny/'
          target='_blank'
          rel='noopener noreferrer'
        >Rayvanny</a>,
        <a
          href='https://www.instagram.com/tanashadonna/'
          target='_blank'
          rel='noopener noreferrer'
        >Tanasha Donna</a>, and many more
      </p>
      <p class='fs-xl mb-1 mb-md-3'>
        The producer has made a name for himself in the East African scene
        having worked with several big names within the region
      </p>
      <p class='fs-xl mb-1 mb-md-3'>
        The producer skill and talent when it comes to mixing and mastering
        music with a special touch, puts him in apposition where he can
        tremendously amplify the quality of a track to a groovy sound that will
        be positively received and consumed by the market

      </p>
    </div>
  </div>
</section>