<!-- Brands (Carousel) -->
<section class='container mb-5 pb-2 pb-md-4 pb-lg-5'>
  <div class='row gy-4 py-xl-2'>
    <div class='col-md-4'>
      <h2 class='mb-0 text-md-start text-center'>Brands we work with</h2>
    </div>
    <div class='col-lg-7 offset-lg-1 col-md-8'>
      <div class='row row-cols-sm-4 row-cols-2 gy-4'>
        {{#each brand}}
          <div class='col'>
            <div class='position-relative text-center'>
              <img
                src='/img/brands/{{this.imgUrl}}'
                width='100'
                alt='Webby'
                class='d-block mx-auto mb-3'
              />
              <a
                href='{{this.href}}'
                class='text-body justify-content-center fs-sm stretched-link text-decoration-none'
              >{{this.title}}</a>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>