<!-- Contact form -->
<section class='container mb-md-2 mb-lg-4' id='book'>
  <div class='bg-secondary rounded-3 py-5 px-3 px-sm-4 px-lg-0'>
    <div class='row align-items-center pt-1 pb-2 py-lg-4'>
      <div
        class='col-xl-4 col-lg-5 col-md-6 offset-lg-1 mb-4 pb-3 mb-md-0 pb-md-0'
      >
        <h2 class='h1 mb-lg-4'>Get in Touch</h2>
        <p class='pb-2 pb-md-4 pb-lg-5'>
          Have a project in mind? To request a quote contact us directly or fill
          out the form and let us know how we can help.
        </p>
        <h3 class='mb-lg-4'>Contact Info</h3>
        <ul class='list-unstyled pb-3 pb-md-4 pb-lg-5 mb-2'>
          <li class='mb-2'>
            <a
              href='tel:+254726555207'
              class='nav-link d-flex align-items-center p-0'
            >
              <i class='bx bx-phone-call fs-xl text-primary me-2'></i>
              +254 (726) 555 - 207
            </a>
          </li>
          <li class='mb-2'>
            <a
              href='mailto:mkobeer@gmail.com'
              class='nav-link d-flex align-items-center p-0'
            >
              <i class='bx bx-envelope fs-xl text-primary me-2'></i>
              mkobeer@gmail.com
            </a>
          </li>
          <li class='mb-2'>
            <a href='#' class='nav-link d-flex align-items-center p-0'>
              <i class='bx bx-map fs-xl text-primary me-2'></i>
              Somewhere. Kilimani, Nairobi
            </a>
          </li>
        </ul>
        <div class='d-flex'>
          <a
            href='https://www.facebook.com/motifbeatsdon'
            target='_blank'
            rel='noopener noreferrer'
            class='btn btn-icon btn-outline-secondary btn-facebook me-3'
          >
            <i class='bx bxl-facebook'></i>
          </a>
          <a
            href='https://twitter.com/MotiffDiDon'
            target='_blank'
            rel='noopener noreferrer'
            class='btn btn-icon btn-outline-secondary btn-twitter me-3'
          >
            <i class='bx bxl-twitter'></i>
          </a>
          <a
            href='https://www.youtube.com/channel/UCcfEJAUkDxomVMzNHCS09ow'
            target='_blank'
            rel='noopener noreferrer'
            class='btn btn-icon btn-outline-secondary btn-linkedin me-3'
          >
            <i class='bx bxl-youtube'></i>
          </a>
          <a
            href='https://www.instagram.com/motifdidon'
            target='_blank'
            rel='noopener noreferrer'
            class='btn btn-icon btn-outline-secondary btn-instagram'
          >
            <i class='bx bxl-instagram'></i>
          </a>
        </div>
      </div>
      <div class='col-lg-5 col-md-6 offset-xl-1'>
        <div class='card border-0 shadow-sm p-sm-2'>
          <form
            class='card-body needs-validation'
            action='https://formspree.io/f/mgedyaok'
            method='post'
            novalidate
          >
            <div class='mb-4'>
              <label for='service' class='form-label fs-base'>Service</label>
              <select
                id='service'
                class='form-select form-select-lg'
                name='service'
                required
              >
                <option value='' selected disabled>
                  Select a Service
                </option>
                <option value='Mixing and Mastering'>
                  Mixing &amp; Mastering
                </option>
                <option value='Vocal Recording'>
                  Vocal Recording
                </option>
                <option value='Jingles, Audio Branding and Sound Design'>
                  Jingles, Audio Branding &amp; Sound Design
                </option>
                <option value='Instrumental Production'>
                  Instrumental Production
                </option>
                <option value='Video and Photography'>
                  Video &amp; Photography
                </option>
                <option value='Podcasts and Voice Overs'>
                  Podcast &amp; V.O
                </option>
              </select>
              <div class='invalid-feedback'>
                Please choose the service!
              </div>
            </div>
            <div class='mb-4'>
              <label for='fullname' class='form-label fs-base'>Full name</label>
              <input
                type='text'
                id='full_name'
                class='form-control form-control-lg'
                name='fullname'
                required
              />
              <div class='invalid-feedback'>Please enter your name!</div>
            </div>
            <div class='mb-4'>
              <label for='email' class='form-label fs-base'>Email address</label>
              <input
                type='email'
                id='email'
                name='email_address'
                class='form-control form-control-lg'
                required
              />
              <div class='invalid-feedback'>
                Please provide a valid email address!
              </div>
            </div>
            <div class='mb-4 pb-2'>
              <label for='message' class='form-label fs-base'>Message</label>
              <textarea
                id='message'
                class='form-control form-control-lg'
                rows='3'
                placeholder='Tell us about your project'
                name='message'
                required
              ></textarea>
              <div class='invalid-feedback'>
                Please enter you message!
              </div>
            </div>
            <button type='submit' class='btn btn-primary shadow-primary btn-lg'>
              Send request
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>